:root {
  --transparent:        rgba(255, 255, 255, 0);
  --white:              #fff;

  --black:              #000;
  --black2:             #4a4969;
  --black3:             #636368;

  --gray:               #f0f1f4;
  --gray2:              #e8eaee;
  --gray3:              #59596f;
  --gray4:              #cbb9be;
  --gray5:              #f5f9fb;
  --gray6:              #e2e5ef;

  --red:                #fed3db;
  --red2:               #f58a9e;
  --red3:               #fc3d80;
  --red4:               #e9e0f3;
  --red5:               #fdf5fa;

  --violet:             #6265ff;
  --violet2:            #f1eeff;
}